footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color:  #333333;
    margin-top: 50px;
    color: white;
}
footer h1{
    font-family: 'Roboto', sans-serif;
    font-size: 8pt;
    color: white;
    margin-left: 15vw;
    letter-spacing: 2px;
    font-weight: 400;
}
footer h1:hover{
    font-size: 10pt;
    transition: 0.2s;
}
.social-midias{
    margin-right: 15vw;
}